@use "../settings/colors.scss";

.home-about {
  margin-top: 80px;
  display: flex;
  justify-content: space-between;
  height: 935px;
  background-color: colors.$color-background;

  &__image {
    width: 50%;
    background-image: url("../../assets/People.jpg");
    flex: 1;
    background-size: cover;
    background-position: left;
  }

  &__text {
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;

    h1 {
      margin: 0;
      font-size: 2.375rem;
      width: 100px;
      height: 52px;
      text-align: center;
      font-weight: normal;
      letter-spacing: -0.76px;
      opacity: 1;
    }

    p {
      margin: 0;
      font-size: 1.875rem;
      width: 656.9px;
      letter-spacing: -0.6px;
      line-height: 54px;
    }
  }

  &__context {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
  }

  &__decoration {
    width: 253px;
    height: 33px;
    background-image: url("../../assets/Decoration.svg");
    margin-bottom: 55px;
    margin-top: 32.04px;
  }

  &__signature img {
    display: flex;
    width: 209px;
    height: 149px;
    margin-left: 597.25px;
    margin-top: 40.9px;
  }
}
