@use "settings/fonts";
@use "settings/colors";
@use "normalize.css";

body {
  font-family: fonts.$font-base;
  color: colors.$color-grey-dark;
  background-color: colors.$color-background;
}
