@use "settings/fonts";
@use "settings/colors";
@use "normalize.css";

body {
  width: 1900px;
  font-family: fonts.$font-base;
  color: colors.$color-grey-dark;
  background-color: white;
}
